<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JJINProject</display-name>
  
  <context-param>
  	<param-name>MariaJDBCDriver</param-name>
  	<param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>MariaConnectURL</param-name>
  	<param-value>jdbc:mariadb://127.0.0.1:3306/suamil_db</param-value>
  </context-param>
  <context-param>
  	<param-name>MariaUser</param-name>
  	<param-value>suamil_user</param-value>
  </context-param>
  <context-param>
  	<param-name>MariaPass</param-name>
  	<param-value>1234</param-value>
  </context-param>
  
    <!-- 한글깨짐에 대한 필터설정 -->
  <!--  
  	POST형식으로 폼값이 전송될때 한글이 깨지는 것을 방지하기 위해 
  	request.setCharEncoding()을 주로 사용하는데, 이 설정을 한번에
  	처리하기 위해 필터 설정을 한다. 
  -->
  <filter>
  	<filter-name>SetCharEncoding</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>SetCharEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 파일 업로드 최대 용량 : 1MB -->
  <context-param>
  	<param-name>maxPostSize</param-name>
  	<param-value>1024000</param-value>
  </context-param>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 
</web-app>